<html>
    <head>
        <title>Braden Lawrence</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

<div class="ui container">
  
    <div class="ui menu">
      <div class="header item">
        Braden Lawrence
      </div>
      <a class="item">
        Contact
      </a>
    </div>

    <% categories.forEach(function(category) { %>
    
    <div class="ui segment">
      <h3 class="ui header"><%= category.name %></h3>
      <div class="ui items">
        
        <% category.projects.forEach(function(project) { %>
        
          <div class="item">
            <a class="ui small image" href="/portfolio/<%= project._id %>">
              <img src="<%= project.images[0].url %>">
            </a>
            <div class="content">
              <a class="header" href="/portfolio/<%= project._id %>"><%= project.title %></a>
              <div class="meta">
                <span class="client"><%= project.client %></span>
                <span class="media">
                  <% project.media.forEach(function(mediaType) { %>
                    <%= mediaType %>, 
                  <% }) %>
                </span>
              </div>
              <div class="description">
                <p><%= project.description %></p>
              </div>
            </div>
          </div>
          <% if(category.projects.indexOf(project) < (category.projects.length-1)){ %>
            <div class="ui divider"></div>
          <% } %>
         <% }) %>
         </div>
         </div>
    <% }) %>
    
</div>