<% include partials/header %>

    <h1 class="ui right aligned header">
      Braden Lawrence
      <div class="sub header">Hi there! I love to build clean front-ends and UIs that cut straight to what users need. I am a UX specialist for Project Lead the Way, and backed up by six years in graphic design. Based in the Boston area, and I am currently available for freelance projects. Get in touch if you would like to work with me!</div>
    </h1>

    <% categories.forEach(function(category) { %>
    
    <div class="ui segment">
      <div class="segmentHeader"><h3 class="ui header"><%= category.name %></h3></div>
      <div class="ui items">
        
        <% category.projects.forEach(function(project) { %>
        
          <div class="item">
            <a class="ui small image" href="/portfolio/<%= project._id %>">
              <img src="<%= project.cover.url %>">
            </a>
            <div class="content">
              <a class="header" href="/portfolio/<%= project._id %>"><%= project.title %></a>
              <div class="meta">
                <span class="media">
                  <% project.media.forEach(function(mediaType) { %>
                    <% if(project.media.indexOf(mediaType) < (project.media.length-1)) { %>
                      <%= mediaType %>, 
                    <% } else { %>
                      <%= mediaType %>
                    <% } %>
                  <% }) %>
                </span>
              </div>
              <div class="description">
                <p><%- project.description %></p>
              </div>
            </div>
          </div>
          <% if(category.projects.indexOf(project) < (category.projects.length-1)){ %>
            <div class="ui divider"></div>
          <% } %>
         <% }) %>
         </div>
         </div>
    <% }) %>

<% include partials/standardScripts %>
<script>
$(document).ready(function(){
  $('#logoFrame').transition('hide')
  $('#logoFrame')
    .transition({
      animation  : 'drop',
      duration   : 400
    })
  ;
})
</script>

<% include partials/footer %>