<html>
    <head>
        <title>Braden Lawrence</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

<div class="ui container">
  
    <div class="ui menu">
      <div class="header item">
        Braden Lawrence
      </div>
      <a class="item">
        Contact
      </a>
    </div>

    <div class="ui segments">
        <div class="ui segment">
          <img class="ui centered large image" src="<%= project.images[0].url %>">
              <div class="ui left internal rail">
                <div class="ui segment">
                  &lt;
                </div>
              </div>
              <div class="ui right internal rail">
                <div class="ui segment">
                  &gt;
                </div>
              </div>
        </div>
        <div class="ui segment">
            <div class="ui equal width grid">
                <% project.images.forEach(function(image){ %>
                <div class="column">
                    <img class="ui tiny centered image" src="<%= image.url %>">
                </div>
                <% }) %>
            </div>
        </div>
        <div class="ui segment">
            <h3 class="ui header"><%= project.title %></h3>
            <div class="meta">
                <span class="client"><%= project.client %></span>
                <span class="media">
                  <% project.media.forEach(function(mediaType) { %>
                    <%= mediaType %>, 
                  <% }) %>
                </span>
              </div>
            <p>
                <%= project.description %>
            </p>
        </div>
    </div>

</div>